header{
    padding: 20px;
    text-align: center;
}

header > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

p{ 
    font-size: 20px;
}

section#about, #contact{
    text-align: center;
    padding: 20px;
}

section#projects > h2{
    text-align: center;
}

.grid_container{
    text-align: center;
    padding: 0 20px; /* Padding: 0 arriba y abajo, 10px izquierda y derecha */
    color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
}

section#links{
    text-align: center;
}
